extends layout
block content
    .main.cushycms
        .section1
            h1 About Us
        #history.section2
            h3 Festival Of Nations
            p For nearly 83 years, the Festival of Nations has inspired people throughout the region to discover more about our world and embrace the rich cultural diversity brought to us by immigrants from around the globe.
            p In 2016, the Festival will continue its legacy as the longest running multicultural festival in the Midwest and, once again, collaborate with nearly 100 ethnic groups to create a truly unique experience - one that celebrates cultural heritage and provides our community's immigrants with a platform to express their stories through world-class performances, exhibits, ethnic cuisine, and personal connections.
            p We are excited to announce the 2016 Festival theme...<strong>Folklore &amp; Fairytales</strong>! This theme is sure to inspire some particularly fascinating programming from all of our participating ethnic groups. Stories truly have the ability to illuminate cultural perspectives and connect individuals like no other medium, so what better way to learn about a new culture or language than through the stories its people hold most dear?
            h3 International Institute of Minnesota
            p The Institute, founded in 1919 as a branch of the YWCA of Saint Paul, addressed unmet needs of immigrant women and their families by providing support services as well as English and citizenship classes. In 1931 Alice Sickels became the Institute’s first executive director. She expanded the services provided by the Institute, and in 1932, the Institute held its first Festival of Nations.
            p In 1938, the Institute became an independent agency. Since then, the organization has broadened programs and services to meet the contemporary needs of resettling refugees who often arrive without established family support in the area. From basic services of food and shelter to celebrations of culture, the Institute provides assistance for New Americans from the time of entry into Minnesota through full community integration. The Institute has resettled more than 24,000 refugees from almost every region in the world since 1979.
        #contact.section3
            h2 Contact Us
            p The Festival of Nations&reg; is presented by the International Institute of Minnesota. For general information regarding the Festival of Nations, please email inquiries to: #[a(href="mailto:info@festivalofnations.com") info@festivalofnations.com]
            p For information regarding school and group orders, curriculum or recertification, please contact the Education Outreach Coordinator at 651-647-0191 Ext: 306, or by email at: #[a(href="mailto:schools@festivalofnations.com") schools@festivalofnations.com]
            p For inquiries regarding specific Festival of Nations areas and activities, please refer to the following contact information:
            ul
                li
                    International Cafes #[a(href="mailto:cafes@festivalofnations.com") cafes@festivalofnations.com]
                li
                    General Entertainment: #[a(href="mailto:entertainment@festivalofnations.com") entertainment@festivalofnations.com]
                li
                    World Stage Adult Dance: #[a(href="mailto:worldstage@festivalofnations.com") worldstage@festivalofnations.com]
                li
                    International Marketplace &amp; Bazaar: #[a(href="mailto:bazaar@festivalofnations.com") bazaar@festivalofnations.com]
                li
                    Cultural Exhibits: #[a(href="mailto:exhibits@festivalofnations.com") exhibits@festivalofnations.com]
                li
                    Ethnic Demonstrations: #[a(href="mailto:demos@festivalofnations.com")  demos@festivalofnations.com]
            p <i>**If you are interested in actually participating in the Festival of Nations, please complete and fill out the forms found under the PARTICIPATE section.</i>
            p For media inquiries, contact #[a(href="mailto:connieshaver@charter.net") Connie Shaver].
            // p For information on becoming a vendor, please click #[a(href="#") here].