extends layout
block content
    .main
        .section1
            h1 About Us
        .section2
            h2 History / Our Story
            h3 Festival Of Nations
            h3 International Institute of Minnesota
            h2 Vision and Mission
            h2 Board and Staff
            h2 Jobs and Internships
            h2 Gallery
            h2 Contact Us