extends layout
block content
    .main.explore
        .section1
            h1 Explore
        #cafe.section2
            .content
                .colLeft.long
                    img(src="./img/cafes.jpg" alt="Cafe")
                .colRight.short
                    h2 Cafes
                    p Enjoy the different tastes found around the world at 35 different ethnic food stands. From Norwegian lefse to Thai noodles, each taste is an experience in world dining. Ages 21 and up can enjoy wine tasting, a glass of beer or other beverages from around the world.
                    .content-data
                        table
                            tr
                                td African-American <br> American-Indian <br> Cambodian <br> Chinese <br> Colombian <br> Croatian <br> Czech and Slovak <br> Danish <br> Dutch <br> Egyptian <br> Filipino <br> Finnish <br> French
                                td Greek <br> Haitian <br> Hungarian <br> Indian <br> Italian <br> Japanese <br> Korean <br> Lebanese <br> Mexican <br> Nepalese <br> Nigerian <br> Norwegian <br> Pakistani
                                td Peruvian <br> Polish <br> Taiwanese <br> Thai <br> Tibetan <br> Turkish <br> Ukrainian <br> Vietnamese

        #bazaar.section3
            .content
                .colLeft.short
                    h2 Bazaar
                    p Come, stroll, and immerse yourself in our International Bazaar, featuring unique imported gifts from more than 40 cultures. Take home a beautiful souvenir from one country or more!
                    .content-data
                        table
                            tr
                                td African-American <br>American-Indian <br>Angolian <br>Armenian <br>Bangladeshi <br>Bhutanese <br>Bolivian <br>Cambodian <br>Chinese <br>Colombian <br>Ecuador <br>Egyptian<br> Filipino
                                td Finnish <br> French <br> German <br>Ghanaian <br>Greek <br>Guatemala <br>Hmong <br>Indian <br>Irish <br>Japanese <br>Latvian <br>Mexican <br> Morrocan <br> Nepalese
                                td Nigerian <br>Peruvian <br>Polish <br>Russian <br> Rwandan <br>Scottish <br>Seychelles <br>Taiwanese <br>Tanzanian <br>Thai <br>Tibetan <br>Turkish <br>Ugandan <br>Venezuelan <br>

                .colRight.long
                    img(src="./img/bazaar.jpg" alt="Bazaar")

        #performances.section2
            .content
                .colLeft.long
                    img(src="./img/worldStage.jpg" alt="World Stage")
                .colRight.short
                    h2 Performances
                    p More than 100 music and dance groups performing continuously on three stages throughout the Festival. Students are treated to exclusive performances by the Ethnic Dance Theatre as well as other folk dance groups presenting cultures from all over the world in the Roy Wilkins Auditorium on Thursday and Friday of the Festival
                    ul
                        li #[a(href='./pdf/2015-Atrium-Stage-Schedule.pdf' target='_blank') Atrium Stage Schedule]
                        li #[a(href='./pdf/2015CafeStageSchedule.pdf' target='_blank') Cafe Stage Schedule]
                        li #[a(href='./pdf/2015WorldStageSchedule.pdf' target='_blank') World Stage Schedule]
                        li #[a(href='./pdf/2015StudentWorldStageSchedule.pdf' target='_blank') Student World Stage Schedule]
        #demo.section3
            .content
                .colLeft.short
                    h2 Demonstrations
                    p Authentic folk artisans practice the craft that has been passed down to them through many generations. Their interactive and educational demonstrations are a must-see! Plan the time to immerse yourself in old world arts that will have you coming away totally amazed.

                .colRight.long
                    img(src="./img/demo.jpg" alt="Demonstrations")
            .content-data
                table
                    tr
                        td African Warrior Bow & Raffia Costume Making <br>American Indian Silversmith <br>Armenian Silk Work <br>Caricature & Arabic Calligraphy <br>Chinese Caligraphy<br>Chinese Lingnam Flower & Bird Painting<br>Colombian Fiber Wall Tapestries <br>Czechoslovak Egg Decorating <br>Ecuadorian Loom Weaving <br>German Star Making <br>German Porcelain Painting <br>Ghanaian Hair Braiding <br>Hmong Needlework <br>Indian Henna & Rangoli <br> International Lace Making <br>
                        td Italian Bocce Ball <br>Japanese Kimono <br>Mexican Pinatas  <br>Mongolian Yurt                     <br>Native American Beadwork      <br>Native American Breastplates      <br>Norwegian Hardanger              <br>Norwegian Folk Painting             <br>Polish Folk Art                  <br>Russian Folk Arts & Crafts      <br>Scandinavian Viking Age Crafts <br>Senegalese Pottery         <br>Slovak Straw Weaving  <br>Swedish Hand Weaving <br>Swiss Woodcarving
        #exhibits.section2
            .content
                .colLeft.long
                    img(src="./img/exhibits.jpg" alt="Exhibits")
                .colRight.short
                    h2 Exhibits
                    p You can also travel the world under one roof with a “passport” in our cultural exhibit area! This is a fun and interactive activity for the whole family! Don’t forget to pick up your passport from any one of the information booths located throughout the Festival for only $1.00.
                    p Although the name of our event is the Festival of Nations, our cultural exhibits highlight ethnic groups, allowing us to educate about those peoples who have official country borders (via the United Nations) and those who do not.
                    .content-data
                        table
                            tr
                                td Bhutanese <br>Bolivian <br> Bulgaria <br>Cambodian <br>Carpatho-Rusyn <br>Chinese <br>Colombian <br>Croatian <br>Czech and Slovak <br>Dutch <br>Finnish <br>French <br>German <br> Greek
                                td Guatemalan <br>Haitian <br>Hmong <br>Hungarian <br>Indian <br>Irish <br>Italian <br>Jamaican <br>Japanese <br>Korean <br>Latvian <br>Lithuanian <br> Mexican <br> Morrocan
                                td Nepalese <br>Palestinian <br>Polish <br>Romanian <br>Russian <br>Rwandan <br>Slovenian <br>Sri Lankan <br>Taiwanese <br>Thai <br>Tibetan <br>Turkish <br>Ukrainian <br>Yemeni



        #special.section3
            h2 Activities
            h3 Green Card Voices
                img(src="/img/greencard-voices-logo.png")
            h4 Recording Studio
            p In 2014, Green Card Voices embarked on a wildly successful pilot project at Festival of Nations 2014, recording 10 unique immigrant stories. This year, the GCV will be expanding the project to record up to <strong>32 immigrant oral histories</strong> during Festival of Nations 2015! Anyone born abroad and living in the US for more than 5 years can participate! (Suggested donation is requested, but not required.)
            p If you would like to share your story, please schedule a time in the recording studio.  Stories will be recorded on April 30, May 1, 2, and 3. Priority will be given to immigrants coming from countries not yet represented in the Green Card Voices Library #[a(href="http://www.greencardvoices.com/wp-content/uploads/2015/02/Countries-in-GCV-library-Jan-2015.pdf") click here] to see the full list.
            p If you would like to share your story please #[a(href="https://www.eventbrite.com/e/immigrant-story-recording-at-the-festival-of-nations-tickets-15609230629" target="_blank") REGISTER HERE]. For any questions please send an email to #[a(href="mailto:info@greencardvoices.com" target="_blank") info@greencardvoices.com].  During the recording session, all participants will be asked #[a(href="http://www.greencardvoices.com/wp-content/uploads/2015/02/Interview-Questions-FON151.pdf" target="_blank") six open-ended questions].
            h4 Green Card Voices Booth
            p Green Card Voices will have a booth at the Festival of Nations where they will be showing videos about new Americans. GVC will also be presenting their on-line digital library of immigrant stories (www.greencardvoices.org/videos) and other multi-media resources teachers can use free-of-charge in their classroom.
            h3 Minnesota Twins
                img(src="/img/MinnesotaTwins.PNG")
            p This year, the Festival of Nations is pleased to announce our partnership with the Minnesota Twins! On Thursday, April 30th, the Festival of Nations will be the featured partner at Target Field.  Join us as we walk around the field in a pre-game Festival of Nations parade, throw the first pitch, and sing Take Me Out to the Ball Game during the 7th Inning Stretch.
            p To buy tickets, or for more information, go to: #[a(href="http://www.Twinsbaseball.com/festivalofnations" target="_blank") www.Twinsbaseball.com/festivalofnations]!
            h3 Festival Naturalization Ceremony
                img(src="/img/US-District-Court-Minnesota.png")
            p Join us for this unique and educational experience and witness 50 immigrants recite the oath and become fully naturalized U.S. citizens.
            p What is an Oath Ceremony?
            p At the oath ceremony, new citizens will swear their allegiance to the United States and receive their naturalization certificate. Once they receive this certificate, they can apply for a U.S. passport and vote in national, state, and local elections.
            p What New Citizens will Pledge at the Oath Ceremony?
            p When new citizens take the oath, they are pledging that they will renounce allegiance to any foreign nations where they had previously held titles or citizenship. They also declare that they will support and defend the U.S. Constitution. They agree to bear arms on behalf of the United States, perform noncombatant service in the armed forces, or perform work of national importance under civilian direction when required by law.
            p On Thursday, April 30th a Naturalization Ceremony will take place in the Roy Wilkins Auditorium.
            p No additional tickets needed
            p #[a(href="http://www.uscis.gov") www.uscis.gov]
            p #[a(href="http://www.uscourts.gov") www.uscourts.gov]
            h3 Concordia Language Village
                img(src="/img/concordia-logo.png")
            p Hundreds of students and thousands of families will have the opportunity to experience a little bit of the Language Villages this weekend at the 2015 Festival of Nations. Concordia Language Villages will offer language instruction in ten languages to school groups on Thursday and Friday (April 30 and May 1) and similar activities and lessons to families on Saturday and Sunday (May 2 and 3). This is a wonderful opportunity for families to learn a new language through Concordia Language Village’s acclaimed immersion methods.
            h3 Minneapolis Institute of Arts
                img(src="/img/mia-logo.jpg")
            p The Minneapolis Institute of Arts has curated a series of slides to preview their upcoming program and partnership with The International Institute of Minnesota.  This gallery-based program provides classes to recent area immigrants that incorporate the principles of object-based teaching, up-close engagement with original works of art, and key lessons from American civics and history. The classes are an innovative complement to traditional citizenship exam preparation and create opportunities for participants to immerse themselves in American art and history while building English language skills and a museum-based vocabulary.
            h3 Art Start
                img(src="/img/artstart_header.gif")
            p The mission of ArtStart is to inspire artistic creativity and illuminate the connections among people, ideas and the environment through engaging artists, children, families, and communities in quality arts education activities.
            h3 Peace Corps
                img(src="/img/Peace_Corps_Logo.png")
            p Stop by the Peace Corps booth at this year’s Festival and speak with a regional recruiter about the As the preeminent international service organization of the United States, the Peace Corps sends Americans abroad to tackle the most pressing needs of people around the world. Peace Corps Volunteers work at the grassroots level toward sustainable change that lives on long after their service at the same time becoming global citizens and serving their country. When they return home, Volunteers bring their knowledge and experiences and a global outlook that enriches opportunities to live, learn, and work with a community overseas the lives of those around them.
