#footer.cushycms
    p
        |Festival Of Nations&nbsp;&nbsp;|&nbsp;&nbsp;1694 Como Avenue&nbsp;&nbsp;|&nbsp;&nbsp;Saint Paul, MN 55108&nbsp;&nbsp;|&nbsp;&nbsp;651-647-0191&nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="https://www.facebook.com/FestivalofNationsSaintPaulMN" target="_blank")
            i.fa.fa-facebook-square
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="http://pinterest.com/mnfestofnations/festival-of-nations-2012/" target="_blank")
            i.fa.fa-pinterest-square
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="https://instagram.com/mnfestivalofnations" target="_blank")
            i.fa.fa-instagram
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="https://twitter.com/MNFestofNations" target="_blank")
            i.fa.fa-twitter-square
    div.right
        a(href="http://www.iimn.org" target="_blank")
            img(src="/img/iimn-logo-reverse.png" alt="International Institute of Minnesota")
