extends layout
block content
    .main.cushycms
        .section1
            h1 Groups
        #schools.section2
            h2 Schools
            p
                | During daytime hours on Thursday, May 5th, and Friday, May 6th, the Festival of Nations is reserved
                | for school groups and provides a quality educational experience in a safe and exciting environment.
                | Your students will learn through themed multi-cultural exhibits (getting their passports stamped at
                | each stop), be able to shop at the beautiful International Bazaar, watch cultural demonstrations,
                | listen to authentic music, marvel at colorful dancing, and tickle their taste buds in the World Cafés.
                | Supplemental educational activities are available and teachers in the states of Minnesota, South
                | Dakota, and Wisconsin can receive up to six hours of continuing education credits for their
                | participation. In addition, all proceeds from the Festival go directly to the International
                | Institute of Minnesota in order to sustain supportive services necessary for New Americans to
                | thrive. We hope to see you at the Festival of Nations!
                br
                br
                strong School Visitation Hours
                | :
                br
                | Thursday, May 5th: 9:00 AM - 3:00 PM
                br
                | Friday, May 6th: 9:30 AM - 4:30 PM
                br
                br
                | Please note that while April 29, 2016 is the deadline for ordering tickets, any tickets ordered
                | after Friday, April 22nd will incur a $20 overnight postage fee! Each ticket includes
                | access to all areas of the event.
                br
                br
                | Students: $8
                br
                | Adults* (18+): $11
                br
                | *If order is completed by April 4, 2016, schools will receive one (1) complimentary adult ticket per
                | every 20 student tickets.
                br
                | Passports (optional): $1 
                br
                br
                | Please click on the link below to access the online Student Ticket Order Form.
                br
                br
                | ~ #[a(href='https://festivalofnations.wufoo.com/forms/2016-student-ticket-order-form/') Student Ticket Order Form] ~
                br
                br
                |Alternatively, you may print out a paper version of the Student Ticket Order Form #[a(href='groups_44_1360602340.pdf') here]
                |  and mail the form and accompanying payment to:
                br
                br
                | International Institute of Minnesota
                br
                | c/o Festival of Nations
                br
                | 1694 Como Avenue
                br
                | St. Paul, MN 55108
            h4 Festival Activities for Schools
            p
                strong Individual Language Lessons
                br
                | We are pleased to have Concordia Language Villages as our mini language lesson sponsor again this
                | year! The mini language lessons will take place all four days in the Exhibit Area. Stop by the
                | Concordia Language Villages booth and pick up a ticket to ensure your spot in the class of your
                | choice. Past languages have included Spanish, Portuguese, French, Chinese, Japanese, Finnish,
                | Norwegian, and German. Each language class will count toward .5 hours of Teacher CEU's.
                br
                a(href='http://www.concordialanguagevillages.org/')
                    img(alt='', src='groups_37_2354724098.gif', style='width: 200px; height: 78px;')
            p
                strong Exhibit Area Passport
                br
                | Passports can be purchased in advance from the Festival of Nations office or at the Festival Information
                | Booth for $1.00 each. Visiting the different Cultural Exhibit booths will get you a unique passport
                | stamp from each of the exhibitors-- some of the exhibitors will even write your name in their
                | language! Participating teachers can bring their completed passports to the Student
                | Activity booth to receive the Teacher License Renewal Certification. The passport activity itself
                | will count toward 1 hour of Teacher CEU's.
            p
                strong Green Card Voices
                br
                | Green Card Voices was designed for individuals to learn more about life stories of first-generation
                | immigrants and to address commonly held stereotypes. Additional Green Card Voices materials are
                | available 
                a(href='http://www.greencardvoices.com/programs/') online
                | . This activity will
                | count toward 2 hours of Teacher CEU's.
                br
                a(href='http://www.greencardvoices.com/')
                    img(alt='', src='groups_38_173676369.png', style='width: 150px; height: 108px;')
            p
                strong Continuing Education Units
                br
                | The Festival of Nations is proud to offer teachers from Minnesota, South Dakota, and Wisconsin the
                | opportunity to receive up to six hours of time toward the renewal of their teaching license. Each
                | individual school district re-licensure committee will vary, so please check with your committee as
                | to which activities and hours would be accepted and how to go about submitting the necessary
                | materials. Relevant CEU materials are available at the Student Activity Booth located in the Kellogg
                | Lobby of the St. Paul RiverCentre.
            h3 Festival of Nations Curricular Matierals
            p
                | Use the links below to access the supplementary curricular materials. Certain materials will also be
                | available at the Student Activity Booth located in the Kellogg Lobby. Several of the
                | activities count towards 1 hour of Teacher CEU's
            h4 Folklore & Fairytales
            dl
                dt 2016 Festival of Nations' Folklore & Fairytales Curriculum
                dd COMING SOON!!!
                dt Folklore Scavenger Hunt
                dd
                    | COMING SOON!!! Students can also fill in the back of the sheet with information they gather on
                    | what historical, cultural, or social importance the different items have for each ethnic group.
                dt
                    a(href='groups_32_266121029.pdf') Compare and Contrast
                dd
                    | Explore the Festival of Nations by taking a closer look at what stories mean to different
                    | cultures. You can use this worksheet to compare and contrast two different stories from the same
                    | ethnic group, or to examine similar stories from two different ethnic groups. Describe or draw
                    | the similarities and differences by looking at characters, setting, historical or religious
                    | influences, and story arc.
            h4 Citizenship-Specific Materials 
            dl
                dt
                    a(href='./pdf/Branches-Worksheet.pdf', target='_blank') Branches of Government
                dd Use this worksheet to review the three branches of the United States government.
                dt
                    a(href='./pdf/Reasons-to-Become-a-US-Citizen.pdf', target='_blank')
                        | Benefits of Becoming a U.S.
                        | Citizen
                dd
                    | This list provides some of the benefits you receive once you become a U.S. citizen.
                dt
                    a(href='./pdf/USCRI-Document-Checklist-Eligability.pdf', target='_blank')
                        | Eligibility & Document Checklist
                dd Learn about the requirements for becoming a U.S. citizen.
                dt
                    a(href='./pdf/USCRI-Naturalization-Q-A.pdf', target='_blank')
                        | Naturalization Mock Interview & Test
                dd
                    | See if you and your students can answer the questions asked during citizenship
                    | interviews.
                dt
                    a(href='./pdf/USCRI-N400-Naturalization-Application.pdf', target='_blank')
                        | Naturalization
                        | Application
                dd This is the initial application required to apply for U.S. citizenship.
            h4 General Activities
            dl
                dt
                    a(href='groups_36_1751925959.pdf', target='_blank') Ethnic Groups without Borders
                dd
                    | There are many ethnic groups around the world that do not have officially-recognized countries
                    | or borders. In some cases a group's nomadic lifestyle may cause them to exist
                    | in several neighboring countries simultaneously or depending on the season, while other groups
                    | may constitute one of several different ethnic minorities within a particular nation.
                    | This activity allows students to explore different ethnic groups without borders in order
                    | to learn more about their unique cultural products, practices, and perspectives.
                dt Multi Cultural Exploration
                dd
                    | This activity has been designed for the students to further their knowledge about a country of their choosing. This activity can also be transferred to the classroom after the students have experienced the Festival. Students can work independently or in partners on this activity. To enhance the learning experience, students can research their country at school or at home prior to the Festival. Using the #[a(href="groups_29_3169361978.pdf") KWL Chart] is a good way to get started.
            h3 School Ticket FAQ
            h4 Can we reserve tickets ahead of time using a purchase order?
            p
                | NO.
                br
                | The only way your tickets are reserved is if we have received payment for them. You can pay using a
                | check, money order, or Visa/Mastercard. Please do NOT mail or fax incomplete order forms or orders
                | lacking payment. Incomplete order forms received will not be kept, and will not reserve a spot for
                | your group. Please request a check from your school well ahead of time.
            h4 What is the deadline for ordering tickets?
            p
                | FRIDAY, APRIL 29th
                br
                | Please note that tickets ordered after Friday, April 22nd will incur a $20 overnight postage
                | fee!
            h4
                | I need more tickets than I originally ordered. Can I purchase more tickets at the door?
            p
                | YES, although only for a few additional students.
                br
                | ​Once the Festival begins, only the RiverCentre Box Office in the Kellogg Lobby will be able to
                | handle or accept ticket inquiries and payments. Students will still be $8.00, but adults
                | will be $13.50 on the day of the event.
            h4 Can we buy tickets for the whole group at the door?
            p
                | NO.
                br
                | All school orders which require a bus for transportation to and from the Festival MUST order their
                | tickets in advance. We mail out signs for the bus windows, with pick-up and drop-off times, and
                | decide which entrance you will be dropped off at. The St. Paul Police direct all traffic entering
                | the streets surrounding the Festival of Nations, and buses without signs will not be allowed to pass
                | through.
            h4 What if I ordered more tickets than I have students who can attend?
            p
                | Refunds are available through April 7th, 2016, less a 15% handling fee. We urge teachers to order
                | fewer rather than more tickets since additional $8.00 student tickets can be purchased at the
                | RiverCentre Box Office located in the Kellogg lobby on the day of the event. No refunds will be
                | issued past April 7th.
            h4 Can my students bring bagged lunches if they wish to do so?
            p
                | YES.
                br
                | Keep in mind however that there will be no centralized location to store bagged lunches.
            h4 Is food included in the ticket price?
            p
                | NO.
                br
                | Ticket prices include entrance to all areas of the Festival, but any food or merchandise must be
                | purchased separately.
            h4 How much money should I recommend my students bring?
            p
                | We recommend that students bring $5-$10 for food as this will allow them to sample items from
                | the different Cafés. Items in the Bazaar vary in price from $2 to $50.
            h4 Where do our buses park once our group has been dropped off?
            p
                | There is an off lot listed on your bus information sheet. Buses can also park for free at the
                | International Institute of Minnesota although there is no shuttle service to the Festival from
                | this lot. If bus drivers declare themselves at the Teacher Information Booth in the Kellogg
                | Lobby, they will receive a complimentary ticket into the Festival.
            h4 Are wheelchairs available for rental?
            p
                | YES.
                br
                | The RiverCentre Box Office has a number of wheelchairs available for rent on a first-come, first-served basis. There is no cost to rent them, but a photo ID must be left at the box office until the wheelchair is returned.
            h4 Can students bring backpacks and bottled water?
            p
                | YES.
                br
                | Students are allowed to bring anything they need as long as they can carry it.
            h4 What are “Passports”?
            p
                | They are a mock version of the real thing, with blank spaces inside. Each educational Exhibit has its own stamp pertaining to the ethnic group it represents. When a student visits this exhibit, they can get their Passport stamped, showing that they were there and can take it home as a souvenir. They are available in advance or at the Festival for $1.00 each.
                br
                br
                | For information regarding school and group orders, curriculum or recertification, please contact the Education Outreach Coordinator at 651-647-0191 Ext: 306, ncrocker@iimn.org.
        #tours.section3
            h2 Tour Groups
            p(style='text-align: center;')
                strong Group orders must be received by April 1st, 2016.
            p
                | Looking for a unique outing? The Festival of Nations is one of the Midwest's largest and
                | longest-running cultural festivals and offers the perfect tour opportunity for social groups,
                | international tours, or corporate gatherings. It has been selected by Discover America as one
                | of the Top 200 Events in America and as one of the American Bus Association’s top 100 Events.
            p
                | Advance group reservations of 15 or more are required for all groups. Tour groups of 40 or more will
                | receive complimentary tickets for their tour leader(s) and bus driver(s). Please visit the City of
                | St. Paul’s #[a(href='http://www.visitstpaul.com') website] for suitable parking lots and prices. There is no designated spot for tour bus parking!
            p
                | Each ticket includes access to all areas of the event. Items sold in the Café and Bazaar areas
                | must be purchased separately.
                br
                br
                | Adults (18+): $10
                br
                | Youth: $8
                br
                | Kids 5 and under: FREE with paying adult
                br
                br
                | Please click on the link below to access the online Group Tour Ticket Order Form.
                br
                br
                | ~
                a(href='https://festivalofnations.wufoo.com/forms/2016-group-tour-order-form/')
                    | Group Tour Ticket
                    | Order Form
                | ~
                br
                br
                | Alternatively, you may print out a paper version of the Group Ticket Order From #[a(href='groups_40_4126063444.pdf') here] and mail the form and accompanying payment to:
                br
                br
                | International Institute of Minnesota
                br
                | c/o Festival of Nations Group Tours
                br
                | 1694 Como Avenue
                br
                | St. Paul, MN 55108
            h3 Refund Policy
            p
                | Refunds are available until April 7, 2016, minus a 15% handling fee. All tickets must be returned to
                | the Festival of Nations office by April 7, 2016, in order for a refund to be issued. There will be
                | no refunds issued after this date!
            h3 Saint Paul Attractions
            p
                | Saint Paul RiverCentre is located within walking distance of the Science Museum of Minnesota, the
                | Ordway Center for the Performing Arts, the Children’s Museum, the Minnesota History Center,
                | the Landmark Center, and the Excel Energy Center. For more information, and to learn about
                | possible offers, please inquire with Visit Saint Paul at 651-265-4900 or
                | info@visitsaintpaul.com.
            p
                | For more information, contact the Festival of Nations Office at 651-647-0191 Ext. 306 or by email at
                | ncrocker@iimn.org