extends layout
block content
    .main.cushycms
        .section1
            h1 Groups
        #schools.section2
            h2 Schools
            p During daytime hours on Thursday, April 30th, and Friday, May 1st, the Festival is reserved for educational groups. The Festival represents more than 100 ethnic groups and offers a one-of-a-kind educational learning experience. Your students will learn through themed multi-cultural exhibits (getting their passports stamped at each exhibit), shop at beautiful international bazaars, watch cultural demonstrations, listen to authentic music, marvel at the colorful dancing, and let their taste buds explode in our Café. We at the Festival of Nations will provide you, the educator and your students, a quality educational experience in a safe and exciting environment. Supplemental educational activities are described below. Teachers in the states of Minnesota, South Dakota, and Wisconsin can receive up to six hours of continuing education credits for their participation at the Festival. See you at the Festival!
            p #[a(href="./forms/2015_Festival_of_Nations_School_ORDER_FORM_for_Teachers.pdf") SCHOOL TICKET ORDER FORM]
            p NOTE FOR SCHOOLBUSES: Bus drop-off for schools coming in from the east & north is Kellogg Blvd. Bus drop-off for schools coming in from the south and west is 5th Street Parking Lot. <br>Please note, the following bus pick up times are full (slots move in 20 minute intervals): <br>Thursday: 1:00 PM and 2:00 PM <br>Friday: 1:00 PM, 1:20 PM, 1:40 PM, 2:00 PM
            h4 Teacher License Renewal Hours & Student/Teacher Activities
            p The Festival of Nations is proud to offer teachers from Minnesota, South Dakota, and Wisconsin the opportunity to receive up to six hours of time toward the renewal of their teaching license. We also offer students and teachers activities to supplement the learning experience of the Festival.
            p Teachers may receive up to six continuing education hours based on participation in the qualifying activities outlined below. Each individual school district re-licensure committee will vary, so please check with your committee as to which activities and hours would be accepted and how to go about submitting the necessary material for the hours. Each activity has been assigned a time value. Once an activity has been completed, you will receive a Teacher License Renewal Certificate.
            p The Teacher CEU and Student Activity booth is located in the Kellogg lobby. This booth will serve as a place to pick up additional copies of activities, answer various questions, and receive your Teacher License Renewal Certificate.
            p For information regarding school and group orders, curriculum or recertification, please contact Education Outreach Coordinator Bridget Ehrman-Solberg, 651-647-0191 Ext: 306, BridgetES@iimn.org.
            h3 Student/Teacher Activities
            h4 Individual Language Classes (1/2 hour each class)
            p We are pleased to have Concordia Language Villages as our Mini-Language sponsor again this year! The Mini-Languages will take place all four days in the Exhibit Area. The language classes will run every 20 minutes. Stop by the booth and pick up your class ticket to ensure your spot in the class of your choice. Languages include Spanish, Portuguese, French, Chinese, Japanese, Finnish, Norwegian and German (subject to change).
            h4 Exhibit Area Passport (1 hour)
            p Passports can be purchased in advance from the Festival of Nations Office or at any Information Booth at the Festival for $1.00 each. Exhibit Booths will stamp your passport when you have visited their booth. Some of the exhibitors will even write your name in their language. Take the completed Passport to the Teacher CEU and Student Activity booth to receive the Teacher License Renewal Certification.
            h4 Enrichment Activities
            p See links below or pick up materials at the Teacher CEU and Student Activity booth.
                dl
                    dt Naturalization Jeopardy
                    dd This is a fun game to play prior to the Festival with your students. This activity focuses on language used in the questions of the Naturalization test.
                    dt #[a(href="./pdf/Branches-Worksheet.pdf" target="_blank") Branches of Government]
                    dd Use this worksheet to go over the various branches of the United States government and the roles they play.
                    dt #[a(href="./pdf/Reasons-to-Become-a-US-Citizen.pdf" target="_blank") Benefits of Becoming a U.S. Citizen]
                    dd This list provides some of the benefits you receive once you become a citizen.
                    dt #[a(href="./pdf/USCRI-Document-Checklist-Eligability.pdf" target="_blank") Eligibility & Document Checklist]
                    dd Have your students see  what the requirements are to become a U.S. Citizen.
                    dt #[a(href="./pdf/USCRI-Naturalization-Q-A.pdf" target="_blank") Naturalization Mock Interview & Test]
                    dd Your students can  do a mock interview to see what some of the questions are asked during citizenship interviews. You can also have them answer different questions from the Naturalization Test.
                    dt #[a(href="./pdf/USCRI-N400-Naturalization-Application.pdf" target="_blank") Naturalization Application]
                    dd This is the initial application required to apply for citizenship.
            h4 International Arts
            p Use the #[a(href="./pdf/KWL-Chart.pdf" target="_blank") KWL worksheet] to enhance either of these activities by having your students research some of the cultures that will be present at the Festival of Nations. List of ethnic groups are available on the website under Bazaar, Café, Demonstration, and Exhibits.
                dl
                    dt #[a(href="./pdf/International-Arts-Bingo.pdf" target="_blank") Bingo]
                    dd Have your students play bingo by learning about different art types at the Festival. Have them fill in the back of the sheet with information they gather on what historical, cultural, or social importance the art area has for an ethnic group.
                    dt #[a(href="./pdf/International-Arts-Compare-Contrast.pdf" target="_blank") Compare and Contrast]
                    dd Explore the Festival of Nations by taking a closer look at what ‘art’ means to different cultures. Use the worksheet to compare and contrast either two different types of art from the same ethnic group, or to examine the same type of art from two different groups. Describe or draw the similarities and differences by looking at themes, materials used, historical or religious influences, and medium.
            h4 General Activities
            p
                dl
                    dt #[a(href="./pdf/Language-Activity.pdf" target="_blank") Say it In Their Language]
                    dd Learn how to say ‘Hello, how are you?’ in various languages found around the Festival.
                    dt #[a(href="./pdf/Ethnic-Groups-Without-Borders.pdf" target="_blank") Ethnic Groups without Borders]
                    dd There are many ethnic groups around the world that do not have an officially recognized country border by the United Nations, but they are still considered an official ethnic group. These people are recognized for their unique cultural and social differences and are celebrated the same as those ethnic groups that do claim an officially recognized United Nations border. This activity allows a student to further explore these ethnic groups that do not have an officially recognized United Nations border and to find out what makes them different and special.
                    dt Multi Cultural Exploration
                    dd This activity has been designed for the students to further their knowledge about a country of their choosing. This activity can also be transferred to the classroom after the students have experienced the Festival. Students can work independently or in partners on this activity. We suggest that prior to the Festival, students research their country at school or at home. This will increase the students learning experience.
            h4 Green Card Voices
            p This activity has been designed for individuals to learn more about life stories of first-generation immigrants. Immigrant narratives teach about immigration and address many commonly held stereotypes. This activity can easily be transferred to the classroom after the students have experienced the Festival (more teaching guides and worksheets are available online at www.greencardvoices.org/get-involved/).
            h3 School Ticket FAQ
            h4 Can we reserve tickets ahead of time using a purchase order?
            p NO. The only way your tickets are reserved is if we have received payment for them. You can pay using a check, money order, or Visa/Mastercard. Please do NOT mail or fax incomplete order forms or orders lacking payment. Incomplete order forms received will not be kept, and will not reserve a spot for your group. Please request a check from your school well ahead of time.
            h4 I need more tickets than I originally ordered. Can I purchase more tickets at the door?
            p YES…for a few additional students. Tickets will be sold in the Kellogg Lobby at the box office. Students will still be $8.00 and adults will be $13.50 the day of the event.
            h4 Can we buy tickets for the whole group at the door?
            p NO. All school orders which require a bus for transportation to and from the Festival MUST order their tickets in advance. We mail out signs for the bus windows, with pick-up and drop-off times, and decide which entrance you will be dropped off at. The St. Paul Police direct all traffic entering the streets surrounding the Festival of Nations, and buses without signs will not be allowed to pass through. *If your group is not taking a bus, you may purchase tickets at the door.
            p Please plan ahead, and place your order based on the following deadlines:
            p Orders received before March 30th, 2015, will receive 1 complimentary adult ticket for every 20 student tickets ordered.
            p Advance Sale Ticket orders (to be mailed back to you) MUST be received by Friday, April 24th, 2015.
            p Advance Sale Ticket orders can be made over the phone with a Visa or Mastercard until April 24th, 2015, at 12:00 p.m., but tickets must be picked up PRIOR to the Festival, between the hours of 9 a.m.-5p.m., from the front desk of the International Institute of Minnesota at 1694 Como Avenue, St. Paul, MN 55108. After April 24th, 2015, at 12:00 p.m. the only option will be purchasing tickets at the RiverCentre Box Office upon arrival and taking cars to the Festival.
            h4 Can we reserve tickets ahead of time and pay when we get there?
            p NO. Once the Festival begins, the only ticket money handled or accepted is by the RiverCentre Box Office.
            h4 What if I ordered more tickets than I have students who can attend?
            p Refunds are available through April 10th, 2015, less a 15% handling fee. We urge teachers to order less rather than more tickets, because additional $8.00 student tickets can be purchased at the RiverCentre Box Office located in the Kellogg lobby. No refunds will be issued past April 12th.
            h4 Can my students bring bagged lunches if they wish to do so?
            p YES, but there is no centralized place to store them, so the teacher or student will be responsible for hanging on to the lunches.
            h4 Is food included in the ticket price?
            p NO. Ticket prices include entrance to all areas of the Festival. Any food or other goods purchased will cost extra.
            h4 How much money should I recommend my students bring?
            p We recommend that students bring $5-$10 for food as this will allow them samples from the different Cafés. Items in the Bazaar vary in price from $2 to $50.
            h4 Where do our buses park once our group has been dropped off?
            p There is an off lot listed on your bus information sheet, Buses can also park for free at the International Institute of Minnesota (there is no shuttle service from this lot.)  If they visit the Teacher Information Booth in the Kellogg Lobby and say they are a bus driver, they will receive a complimentary ticket into the Festival.
            p When your order has been placed and you receive your tickets and parking/bus info in the mail, PLEASE MAKE SURE to pass on this information to your bus company. They will not have any information unless you make sure to do so.
            h4 Are wheelchairs available for rental?
            p YES. The RiverCentre Box Office has a number of wheelchairs available for rent on a first come, first serve basis. There is no cost to rent them, but a photo ID must be left at the box office until the wheelchair is returned.
            h4 Can students bring backpacks and bottled water?
            p YES. Students are allowed to bring anything they need as long as they can carry it.
            h4 What are “passports”?
            p They are a mock version of the real thing, with blank spaces inside. Each educational Exhibit has its own stamp pertaining to the ethnic group it represents. When a student visits this exhibit, they can get their Passport stamped, showing that they were there and can take it home as a souvenir. They are available in advance or at the Festival for $1.00 each.

        #tours.section3
            h2 Tour Groups
            p The Festival of Nations is one of the nation’s largest and oldest international festivals. It has been selected by Discover America as one of the Top 200 Events in America and as one of the American Bus Association’s top 100 Events.
            p Advance group reservations of 15 or more are required for all groups. Group orders must be received by April 3rd, 2015. Bus groups of 40 or more will receive complimentary tickets for their tour leader(s) and bus driver. There is no designated spot for bus parking; please visit the City of St. Paul’s website www.visitstpaul.com for a suitable lot and prices. Please see the link below to view the Group Order Form.
            p Basic Tour Package: $10.00 per adult and $8.00 per youth (18 and under, 5 and under free with paying adult)
            p Each ticket includes access to all areas of the event. Items sold in the Café and Bazaar areas must be purchased separately.
            p Continental Tour Package: Available during non-school hours $16.00 per adult and $8.00 per youth (18 and under, 5 and under free with paying adult)
            p This package includes an exclusive informational greeting by a Festival representative, different souvenirs and a food booth ticket, all in a beautiful Festival of Nations bag. Additional items sold in the Café and Bazaar areas must be purchased separately.
            p #[a(href="./forms/2015_GROUP_TICKET_FORM.pdf" target="_blank") GROUP TICKET ORDER FORM]
            p Once filled out, please include payment and mail to indicated address.
            h3 Refund Policy
            p Refunds are available until April 10th, 2015, minus a 15% handling fee. All tickets must be returned to the Festival of Nations office by April 10th, 2015, in order for a refund to be issued. There will be no refunds issued after this date!
            h3 Saint Paul Attractions
            p Saint Paul RiverCentre is located within walking distance of the Science Museum of Minnesota, the Ordway Center for the Performing Arts, the Children’s Museum, the Landmark Center and the Excel Energy Center. For more information and to learn about possible tourist/group special offers, please contact Michael Hernandez of the Saint Paul Convention & Visitors Authority at 651-265-4906 or mhernandez@visitsaintpaul.com
            p For more information, contact the Festival of Nations Office at 651-647-0191 Ext. 306 or e-mail Bridget Ehrman-Solberg at bridgetes@iimn.org
