extends layout

block content
    .main
      #highlights.section2
        h2.primary-logo.decorative-plate
          img(src="./img/fon2015logo263137.png" alt="Festival Of Nations")
          | <br>April 30<sup>th</sup> - May 3<sup>rd</sup> 2015 &nbsp;&nbsp;&nbsp;&nbsp;
          | <span style="white-space:nowrap">Saint Paul RiverCentre</span>
        ul
          li
            a.icon.flaticon-cinema37(href='info.html#tickets')
            h3 Tickets

          li
            a.icon.flaticon-cooking15(href='explore.html#cafe')
            h3 Cafés

          li
            a.icon.flaticon-shop1(href='explore.html#bazaar')
            h3 Bazaar

          li
            a.icon.flaticon-passport(href='explore.html#exhibits')
            h3 Exhibits

          li
            a.icon.flaticon-eco28(href='participate.html#volunteer')
            h3 Volunteer

          li
            a.icon.flaticon-school50(href='groups.html#schools')
            h3 Schools

          li
            a.icon.flaticon-bird9(href='explore.html#demo')
            h3 Demos

          li
            a.icon.flaticon-dancer3(href='explore.html#performances')
            h3 Music & Dance

      .section3
        h2 Community Sponsors

        p.legacy
          a(href="http://www.legacy.leg.mn/")
            img(src="./img/Legacy.jpg" width="171" height="80")
          | This activity is made possible by the voters of Minnesota through grants from the Minnesota State Arts Board, thanks to a legislative appropriation from the arts and cultural heritage fund and by a grant from the National Endowment for the Arts
        .logos
          a(href="http://www.iimn.org/" target="_blank")
            img(src="./img/IIMN.jpg" alt="The International Institute of Minnesota")
          a(href="http://www.lundsandbyerlys.com/" target="_blank")
            img(src="./img/Byerlys.jpg" alt="Lunds and Byerlys")
          a(href="http://huberthhumphrey.jobcorps.gov/" target="_blank")
            img(src="./img/JobCorps.png" alt="Job Corps")
          a(href="http://www.metrotransit.org/" target="_blank")
            img(src="./img/MetroTransit.jpg" alt="Metro Transit")
          a(href="http://www.plazatv.com/" target="_blank")
            img(src="./img/Plaza.jpg" alt="Plaza TV &amp; Appliance")
          a(href="http://www.rivercentre.org/" target="_blank")
            img(src="./img/RiverCentre.jpg" alt="Saint Paul RiverCentre")
          a(href="http://www.lssinc.com" target="_blank")
            img(src="./img/lssinc_logo.png" alt="Lighthouse Software Solutions")
