extends layout

block content
    .main
      .decorative-plate.section1
        h1
          img(src="./img/fon2015logo555.png" alt="Festival Of Nations")
          br
          | April 30<sup>th</sup> - May 3<sup>rd</sup> 2015 <br>Saint Paul RiverCentre
      .section2
        ul
          li
            a.icon.flaticon-cinema37(href='info.html#tickets')
            h3 Tickets
            p Get your tickets now.
          li
            a.icon.flaticon-dancer3(href='explore.html')
            h3 Entertainment
            p Over 100 dance and music groups performing continuously on three stages throughout the Festival.
          li
            a.icon.flaticon-cooking15(href='explore.html')
            h3 Cafe
            p Enjoy the different tastes found around the world at 35 different ethnic food Cafés.
          li
            a.icon.flaticon-shop1(href='explore.html')
            h3 Bazaar
            p Beautiful international bazaar features unique imported gifts from over 40 cultures.
          li
            a.icon.flaticon-passport(href='explore.html')
            h3 Exhibits
            p You can travel the world under one roof with our passport system.
          li
            a.icon.flaticon-bird9(href='explore.html')
            h3 Demonstrations
            p Immerse yourself in old world arts that have been passed down through many generations.
          li
            a.icon.flaticon-eco28(href='participate.html')
            h3 Volunteer
            p Get involved with the planning of the Festival of Nations.
          li
            a.icon.flaticon-squares8(href='about.html')
            h3 Gallery
            p View the many Festival of Nations highlights from years past.
          li
            a.icon.flaticon-school50(href='groups.html')
            h3 Schools
            p Schools and students

      .section3
        h2 Community Sponsors

        p.legacy
          a(href="http://www.legacy.leg.mn/")
            img(src="./img/Legacy.jpg" width="171" height="80")
          | This activity is made possible by the voters of Minnesota through grants from the Minnesota State Arts Board, thanks to a legislative appropriation from the arts and cultural heritage fund and by a grant from the National Endowment for the Arts
        .logos
          a(href="#")
            img(src="./img/IIMN.jpg")
          a(href="#")
            img(src="./img/Byerlys.jpg")
          a(href="#")
            img(src="./img/JobCorps.png")
          a(href="#")
            img(src="./img/Logooven.jpg")
          a(href="#")
            img(src="./img/MetroTransit.jpg")
          a(href="#")
            img(src="./img/worldpeaceprayersociety.jpg")
          a(href="#")
            img(src="./img/Plaza.jpg")
          a(href="#")
            img(src="./img/RiverCentre.jpg")
          a(href="#")
            img(src="./img/Youthrive.png")
          a(href="#")
            img(src="./img/Marina.jpg")
          a(href="#")
            img(src="./img/subway-logo.png")
          a(href="#")
            img(src="./img/3M.gif")
          a(href="#")
            img(src="./img/target-bullseye.png")
          a(href="#")
            img(src="./img/FILO.jpg")
          a(href="#")
            img(src="./img/veteransforpeace.jpg")
          a(href="#")
            img(src="./img/peacepal.gif")
