extends layout

block content
    .main
      .section1
        h1 April 30<sup>th</sup> - May 3<sup>rd</sup> 2015 <br>Saint Paul RiverCentre
      .section2
        ul
          li
            a.icon.flaticon-dancer3(href='entertainment.html')
            h3 Entertainment
            p Over 100 dance and music groups performing continuously on three stages throughout the Festival.
          li
            a.icon.flaticon-cooking15(href='cafe.html')
            h3 Cafe
            p Enjoy the different tastes found around the world at 35 different ethnic food Cafés.
          li
            a.icon.flaticon-shop1(href='bazaar.html')
            h3 Bazaar
            p Beautiful international bazaar features unique imported gifts from over 40 cultures.
          li
            a.icon.flaticon-passport(href='exhibits.html')
            h3 Exhibits
            p You can travel the world under one roof with our passport system.
          li
            a.icon.flaticon-bird9(href='demos.html')
            h3 Demonstrations
            p Immerse yourself in old world arts that have been passed down through many generations.

      .section3
        :markdown
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
          Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
          cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
          pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
          ut faucibus eros.
