extends layout

block content
    .main.cushycms
      #highlights.section2
        h2.primary-logo.decorative-plate
          img(src="./img/fon2015logo263137.png" alt="Festival Of Nations")
          | <br>May 5<sup>th</sup> - May 8<sup>th</sup> 2016 &nbsp;&nbsp;&nbsp;&nbsp;
          | <span style="white-space:nowrap">Saint Paul RiverCentre</span>
        div(style='text-align:center; margin-top:15px; margin-bottom:15px; font-size:2em')
            a(href='info.html#tickets')
                img(src="./img/buy-tickets-now.png" alt="buy tickets now")
        ul
          li
            a.icon.icon-fon15_sun(href='info.html#tickets')
            h3 Tickets

          li
            a.icon.icon-fon15_flower(href='participate.html#volunteer')
            h3 Volunteer

          li
            a.icon.icon-fon15_clock(href='groups.html#schools')
            h3 Schools

          li
            a.icon.icon-fon15_rooster(href='explore.html#cafe')
            h3 Cafés

          li
            a.icon.icon-fon15_doll(href='explore.html#bazaar')
            h3 Bazaar

          li
            a.icon.icon-fon15_mask(href='explore.html#exhibits')
            h3 Exhibits

          li
            a.icon.icon-fon15_horse(href='explore.html#demo')
            h3 Demos

          li
            a.icon.icon-fon15_shoes(href='explore.html#performances')
            h3 Music & Dance

      .section3
        h2 Community Sponsors

        p.legacy
          a(href="http://www.legacy.leg.mn/")
            img(src="./img/Legacy.jpg" width="171" height="80")
          | This activity is made possible by the voters of Minnesota through grants from the Minnesota State Arts Board, thanks to a legislative appropriation from the arts and cultural heritage fund and by a grant from the National Endowment for the Arts
        .logos
          a(href="http://www.iimn.org/" target="_blank")
            img(src="./img/IIMN.jpg" alt="The International Institute of Minnesota")
          a(href="http://www.lundsandbyerlys.com/" target="_blank")
            img(src="./img/lunds_byerlys.jpg" alt="Lunds and Byerlys")
          a(href="http://huberthhumphrey.jobcorps.gov/" target="_blank")
            img(src="./img/JobCorps.png" alt="Job Corps")
          a(href="http://www.metrotransit.org/" target="_blank")
            img(src="./img/MetroTransit.jpg" alt="Metro Transit")
          a(href="http://www.plazatv.com/" target="_blank")
            img(src="./img/Plaza.jpg" alt="Plaza TV &amp; Appliance")
          a(href="http://www.rivercentre.org/" target="_blank")
            img(src="./img/RiverCentre.jpg" alt="Saint Paul RiverCentre")
          a(href="http://www.greencardvoices.com" target="_blank")
            img(src="./img/greencard-voices-logo.png" alt="Greencard Voices")
          a(href="http://www.lssinc.com" target="_blank")
            img(src="./img/lssinc_logo.png" alt="Lighthouse Software Solutions")
