extends layout

block content
  #container
    .main
      :markdown
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
        Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
        cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
        pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
        ut faucibus eros.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis lobortis nulla nec pellentesque.
        Maecenas ultrices turpis quis diam iaculis condimentum. Quisque feugiat malesuada felis, eu porttitor est
        cursus sed. Aliquam sed mauris feugiat, condimentum ligula in, euismod nisi. Pellentesque rhoncus sodales
        pharetraSed tortor purus, dictum id nibh id, gravida congue ex. Suspendisse sed scelerisque eros,
        ut faucibus eros.

