extends layout
block content
    .main
        .section1
            h1 Festival Information
        #tickets.section2
            h2 Tickets
            h3 Advanced Tickets
            p Advance tickets will be sold through the International Institute of Minnesota and at all Byerly’s stores.
            p Adult: $11.00 <br>Youth 16 and under: $8.00 (6 to 16) (5 and under free with adult admission)
            p Advance tickets by mail: <br> International Institute of Minnesota 1694 Como Ave St. Paul, MN  55108 <br>Visa/MC accepted
            h3 During the Festival
            p Tickets are available during the event at the RiverCentre Box Office. <br>Adults: $13.50 <br>Youth 16 and under:  $8.00 (5 and under free with adult admission)
            h3 World Pass
            p The World Pass is good for all of the days of the Festival and can only be purchased in advance at the International Institute of Minnesota, March 20th until April 30th. <br> Adult World Pass: $18 <br>Youth 16 and under: $12 (5 and under free with adult admission)
            h3 Special Group Tour Rates
            p Basic Tour Package: $10.00 per adult and $8.00 per youth (16 and under, 5 and under free with paying adult)
            p Each ticket includes access to all areas of the event. Items sold in the Café and Bazaar areas must be purchased separately.
            p Continental Tour Package: $16.00 per adult and $8.00 per youth (16 and under, 5 and under free with paying adult)
            p This package includes an exclusive informational greeting by a Festival representative, different souvenirs and a food booth ticket, all in a beautiful Festival of Nations bag. Additional items sold in the Café and Bazaar areas must be purchased separately.
            p #[a(href="./forms/2015_GROUP_TICKET_FORM.pdf" target="_blank") GROUP TICKET ORDER FORM] #[a(href="./forms/2015_Festival_of_Nations_School_ORDER_FORM_for_Teachers.pdf") SCHOOL TICKET ORDER FORM]
            h3 Refund Policy
            p Refunds are available until April 10th, 2015, minus a 15% handling fee. All tickets must be returned to the Festival of Nations office by April 10th, 2015, in order for a refund to be issued. There will be no refunds issued after this date!
        #hours.section3
            h2 Hours
            h4 General Public Hours
            dl
                dt Friday, May 1st
                dd 4:30 p.m. – 10:00 p.m.
                dt Saturday, May 2nd
                dd 10:00 a.m. – 10:00 p.m.
                dt Sunday, May 3rd
                dd 10:00 a.m. – 6:00 p.m.

            h4 Student Hours
            dl
                dt Thursday, April 30th
                dd 9:00 a.m. – 3:00 p.m.
                dt Friday, May 1st
                dd 9:30 a.m. – 4:30 p.m.
            p NOTE: STUDENT HOURS ARE NOT OPEN TO THE GENERAL PUBLIC.
        #tranportation.section2
            h2 Transportation
            p Saint Paul RiverCentre <br>175 W. Kellogg Blvd. <br>Saint Paul, MN 55102
            p #[a(href="./pdf/Map-of-RiverCentre.pdf" target="_blank") RiverCentre Map]
            // & Map of Festival of Nation Areas
            //p #[a(href="#") Park and Ride] Metro Transit pass Ride any Metro Transit bus or light-rail train for FREE! Just #[a(href="#") download] two copies of the the pass (one for each direction) and your ride is free.
            //dl
            //    dt Saturday, May 2
            //    dd 9 a.m. – 11 p.m.
            //    dt Sunday, May 3
            //    dd 9 a.m. – 7 p.m.

            p #[a(href="https://www.metrotransit.org/imap/map.aspx") Metro Transit Trip Planner]
            h3 Parking
            p There are five parking ramps immediately adjacent to the RiverCentre. The RiverCentre Parking Ramp provides ADA access to the event via the Skyway.
            p Saint Paul RiverCentre Parking Ramp - $10.00 for 12 hours (Inside Lot) <br> 150 West Kellogg Blvd <br> Saint Paul, MN 55102
            p Ryan Lot - $5.00 for 12 hours (149 total stalls) (Outside Lot) <br> 217 Chestnut Street <br>Saint Paul, MN 55102
            p Wax Works Lot - $5.00 for 12 hours (74 total stalls) (Outside Lot) <br> 177 Exchange Street <br> Saint Paul, MN 55102
            p Smith Avenue Transit Center - $5.00 for 12 hours (603 total stalls) (Inside Lot) <br> 145 Smith Avenue <br> Saint Paul, MN 55102
            p Seven Corners Lot - $10.00 for 12 hours (284 total stalls) (Outside Lot) <br> 150 Smith Avenue <br> Saint Paul, MN 55102
            h3 Disability parking
            p
                | There are 48 designated public parking spaces designated for vehicles displaying disability parking placards/permits or license tags in the RiverCentre Parking Ramp.
                | Ten of these spaces are van-accessible. Once parked, guests should take the elevators on the west side of the parking ramp to the skyway level directly into Saint Paul RiverCentre and Roy Wilkins Auditorium. There are also 13 designated public parking spaces designated for vehicles displaying disability parking placards/permits or license tags in the Kellogg Parking Ramp. Six of these spaces are van-accessible.
                | Once parked, guests should take the elevator to the lobby level (level 2), which will bring guests directly into Saint Paul RiverCentre and Roy Wilkins Auditorium.
            p Saint Paul RiverCentre Parking Ramp - $10.00 for 12 hours (Inside Lot) <br> 150 West Kellogg Blvd <br> Saint Paul, MN 55102
            p Kellogg Parking Ramp - $10.00 for 12 hours (Inside Lot) <br> 129 West Kellogg Blvd <br> Saint Paul, MN 55102
