extends layout
block content
    .main.cushycms
        .section1
            h1 Festival Information
        #tickets.section2
            h2 Tickets
            h3 Purchase Online
            div(style='font-size:2em;')
                //
                  START OF VENDINI TAG
                  Copyright (C) 2016 Vendini, Inc.
                  All Rights Reserved.
                  TROUBLESHOOTING: The HTML code below is one continuous line.  Line breaks in the code below may cause problems launching the order window.
                script#vendiniTicketLineLaunch_be0f890db83b764b5b580ad26dbce347(type='text/javascript').
                    var VendiniTicketLineLaunch = VendiniTicketLineLaunch || {};
                    VendiniTicketLineLaunch['933321bbfc91cfc03be9d5cfa6da19e5'] = VendiniTicketLineLaunch['933321bbfc91cfc03be9d5cfa6da19e5'] || [];
                    (function () {
                        VendiniTicketLineLaunch['933321bbfc91cfc03be9d5cfa6da19e5'].push({
                            id: 'be0f890db83b764b5b580ad26dbce347',
                            type: 'tix',
                            eventID: '8b1f01edceedb04bb4b67ea0915e6c2b',
                            image: 'http://festivalofnations.com/img/buy-tickets-now.png'
                        });
                        if (document.body) {
                            var buttonContainer = document.getElementById("vendiniTicketLineLaunch_be0f890db83b764b5b580ad26dbce347").parentNode;
                        }
                        else {
                            document.write('<body></body>');
                            buttonContainer = document.body;
                        }
                        var span = document.createElement("span");
                        span.id = "be0f890db83b764b5b580ad26dbce347";
                        buttonContainer.appendChild(span);
                        if (!document.getElementById('VendiniTicketLineLaunch_933321bbfc91cfc03be9d5cfa6da19e5')) {
                            var script = document.createElement('script');
                            script.id = 'VendiniTicketLineLaunch_933321bbfc91cfc03be9d5cfa6da19e5';
                            script.type = 'text/javascript';
                            script.async = true;
                            script.src = 'https://red.vendini.com/ticketLine/js/launch/933321bbfc91cfc03be9d5cfa6da19e5';
                            buttonContainer.appendChild(script);
                        }
                    })();
            // END OF VENDINI TAG
            p Online tickets will be delivered electronically or can be downloaded to a mobile device. <br> #[a(href="http://www.vendini.com/privacy")  Online ticketing privacy and security information]
            h3 Advanced Tickets
            p
                | Advance tickets will be available beginning on Friday, April 1 online at www.festivalofnations.com,
                | through the International Institute of Minnesota and at all Lunds and Byerlys stores.
            p
                | Adult (18+): $11.00
                br
                |                     Youth: $8.00
                br
                |                     Kids 5 and under: FREE with paying adult
            p
                | Advance tickets by phone:
                br
                |                     (651) 647-0191 Ext. 300
                br
                |                     Visa/MC accepted
            p
                | Advance tickets by mail:
                br
                |                     International Institute of Minnesota
                br
                |                     1694 Como Ave St. Paul, MN 55108
                br
                |                     Visa/MC and checks accepted
                br
                br
                |                     Please click on the link below to access a PDF version of the 2016 Advanced Ticket Order Form.
                br
                br
                |                     ~ #[a(href='info_24_3330764607.pdf') 2016 Advanced Ticket Order Form] ~
                br
                br
            h3 During the Festival
            p
                | Tickets are available during the event at the RiverCentre Box Office.
                br
                br
                |                     Adults (18+): $13.50
                br
                |                     Youth: $8 
                br
                |                     Kids 5 and under: FREE with paying adult
                br
            h3 World Pass
            p
                | The World Pass grants entry on all of the days of the Festival. It can only be purchased in
                | advance at the International Institute of Minnesota, from April 1 until May 5, 2016.
                br
                br
                |                     Adults (18+): $18
                br
                |                     Youth: $12
                br
                |                     Kids 5 and under: FREE with paying adult
            h3 Schools
            p
                | Please visit the School Information page #[a(href='http://www.festivalofnations.com/groups.html#schools') here] for more information.
            h3 Group Tours
            p
                | Please visit the Tour Information page #[a(href='http://www.festivalofnations.com/groups.html#tours') here] for more information about our special group tour rates.
            h3 Refund Policy
            p
                | Refunds are available until April 7, 2016, minus a 15% handling fee. All tickets must be returned to
                | the Festival of Nations office by April 7, 2016, in order for a refund to be issued. There will be
                | no refunds issued after this date!
        #tranportation.section2
            h2 Transportation
            p
                | Saint Paul RiverCentre
                br
                |                     175 W. Kellogg Blvd.
                br
                |                     Saint Paul, MN 55102
                br
                a(href='./pdf/Map-of-RiverCentre.pdf', target='_blank') RiverCentre Map
                br
            center
                img(src='./img/metcolor.jpg')
            p
                | Ride any Metro Transit vehicle for FREE! Metro Transit passes will be available for every Festival
                | day (Thursday through Sunday). Just download the pass (link below) from the Festival of Nations
                | website and ride for FREE! Hours of operation are one hour before the Festival and FON and one hour
                | after it closes. Please make two (2) copies of the pass (one for each direction).
                br
                a(href='https://www.metrotransit.org/imap/map.aspx') Metro Transit Trip Planner
            p  
            h3 Parking
            p
                | There are five parking ramps immediately adjacent to the RiverCentre. The RiverCentre Parking Ramp
                | provides ADA access to the event via the Skyway.
            p
                | Saint Paul RiverCentre Parking Ramp - $10.00 for 12 hours (Inside Lot)
                br
                |                     150 West Kellogg Blvd
                br
                |                     Saint Paul, MN 55102
                br
            p
                | Ryan Lot - $5.00 for 12 hours (149 total stalls) (Outside Lot)
                br
                |                     217 Chestnut Street
                br
                |                     Saint Paul, MN 55102
                br
            p
                | Wax Works Lot - $5.00 for 12 hours (74 total stalls) (Outside Lot)
                br
                |                     177 Exchange Street
                br
                |                     Saint Paul, MN 55102
                br
            p
                | Smith Avenue Transit Center - $5.00 for 12 hours (603 total stalls) (Inside Lot)
                br
                |                     145 Smith Avenue
                br
                |                     Saint Paul, MN 55102
                br
            p
                | Seven Corners Lot - $10.00 for 12 hours (284 total stalls) (Outside Lot)
                br
                |                     150 Smith Avenue
                br
                |                     Saint Paul, MN 55102
                br
            h3 Disability parking
            p
                | There are 48 designated public parking spaces designated for vehicles displaying disability parking
                | placards/permits or license tags in the RiverCentre Parking Ramp. Ten of these spaces are
                | van-accessible. Once parked, guests should take the elevators on the west side of the parking ramp
                | to the skyway level directly into Saint Paul RiverCentre and Roy Wilkins Auditorium. There are also
                | 13 designated public parking spaces designated for vehicles displaying disability parking
                | placards/permits or license tags in the Kellogg Parking Ramp. Six of these spaces are
                | van-accessible. Once parked, guests should take the elevator to the lobby level (level 2), which
                | will bring guests directly into Saint Paul RiverCentre and Roy Wilkins Auditorium.
            p
                | Saint Paul RiverCentre Parking Ramp - $10.00 for 12 hours (Inside Lot)
                br
                |                     150 West Kellogg Blvd
                br
                |                     Saint Paul, MN 55102
                br
            p
                | Kellogg Parking Ramp - $10.00 for 12 hours (Inside Lot)
                br
                |                     129 West Kellogg Blvd
                br
                |                     Saint Paul, MN 55102
                br
        #hours.section3
            h2 Hours
            h4 General Public Hours
            dl
                dt Friday, May 6, 2016
                dd 4:30 p.m. – 10:00 p.m.
                dt Saturday, May 7, 2016
                dd 10:00 a.m. – 10:00 p.m.
                dt Sunday, May 8, 2016
                dd 10:00 a.m. – 6:00 p.m.
            h4 Student Hours**
            dl
                dt Thursday, May 5, 2016
                dd 9:00 a.m. – 3:00 p.m.
                dt Friday, May 6, 2016
                dd 9:30 a.m. – 4:30 p.m.
            p **STUDENT HOURS ARE NOT OPEN TO THE GENERAL PUBLIC.
