doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Festival Of Nations 2015')
    title Festival Of Nations 2015
    link(rel='stylesheet', href='css/master.css')
    link(rel='stylesheet', href='css/simple-slideshow-styles.css')
    link(rel='stylesheet', href='css/slicknav.css')
    link(rel='stylesheet', href='css/flaticon.css')
    link(rel='stylesheet', href='css/fon15.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat|Rokkitt')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    script(data-main="js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")
  body
    .wrapper
        include ./navigation.jade
        .wrapper-content
          .slideshow
          block content
        include ./footer.jade

