.slideshow.bss-slides
    figure
        img(src="img/header_8.jpg")
    figure
        img(src="img/header_10.jpg")

    figure
        img(src="img/header_11.jpg")
    figure
        img(src="img/header_12.jpg")
    figure
        img(src="img/header_13.jpg")
    figure
        img(src="img/header_14.jpg")
    figure
        img(src="img/header_15.jpg")
    figure
        img(src="img/header_16.jpg")
    figure
        img(src="img/header_25.jpg")

#nav
    ul
        li.first: a(href='tickets.html') Tickets
        li.second: a(href="schools.html") School Info
        li.third: a(href="exhibits.html") Exhibits
        li.forth: a(href="about.html") About Us