#header-wrapper
    .header
        a#main-logo.logo(href='index.html')
            img(src="./img/fon2015logoWhite.png" alt="Festival Of Nations" height="57px")
        #nav
            ul
                li
                    a(href='about.html') About Us
                    ul
                        li
                            a(href="about.html#history") History
                        li
                            a(href="about.html#vision") Vision
                        li
                            a(href="about.html#board") Board and Staff
                        li
                            a(href="about.html#jobs") Jobs and Internships
                        li
                            a(href="about.html#gallery") Gallery
                li
                    a(href="info.html") Info
                    ul
                        li
                            a(href="info.html#tickets") Tickets
                        li
                            a(href="info.html#hours") Hours
                        li
                            a(href="info.html#directions") Directions
                        li
                            a(href="info.html#FAQ") FAQ
                li
                    a(href="explore.html") Explore
                    ul
                        li
                            a(href="explore.html#cafe") Cafe
                        li
                            a(href="explore.html#bazaar") Bazaar
                        li
                            a(href="explore.html#performances") Performances
                        li
                            a(href="explore.html#demos") Demonstrations
                        li
                            a(href="explore.html#special") Special Events
                li
                    a(href="participate.html") Participate
                    ul
                        li
                            a(href="participate.html#donate") Donate
                        li
                            a(href="participate.html#volunteer") Volunteer
                        li
                            a(href="participate.html#sponsor") Become a Sponsor
                        li
                            a(href="participate.html#media") Media

                li
                    a.last(href="groups.html") Groups
                    ul
                        li
                            a(href="groups.html#schools") Schools
                        li
                            a(href="groups.html#tours") Tour Groups





