#header-wrapper
    .header
        a#main-logo.logo(href='index.html')
            img(src="./img/fon2015logoWhite.png" alt="Festival Of Nations" height="57px")
        #nav
            ul
                li: a(href='about.html') About Us
                li: a(href="groups.html") Groups
                li: a(href="info.html") Info
                li: a(href="explore.html") Explore
                li: a.last(href="contact.html") Participate


