script
    | $(function(){$('#nav').slicknav();});

#nav
    .slideshow
        figure
            img(src="image1")

    ul
        li.first: a(href='tickets.html') Tickets
        li.second: a(href="schools.html") School Info
        li.third: a(href="exhibits.html") Exhibits
        li.forth: a(href="about.html") About Us