#header-wrapper
    .header
        a.logo(href='index.html')
            img(src="img/logo.png" alt="Festival Of Nations" height="50px")
        .nav
            ul
                li: a(href='tickets.html') Tickets
                li: a(href="schools.html") School Info
                li: a(href="exhibits.html") Exhibits
                li: a(href="about.html") About Us
                li: a(href="contact.html") Contact Us


