#header-wrapper
    .header
        a#main-logo.logo(href='index.html')
            img(src="./img/fon2015logo263137.png" alt="Festival Of Nations" height="57px")
        #nav
            ul
                li
                    a(href='about.html') About Us
                    ul
                        li
                            a(href="about.html#history") History
                        li
                            a(href="about.html#contact") Contact Us
                li
                    a(href="info.html") Info
                    ul
                        li
                            a(href="info.html#tickets") Tickets
                        li
                            a(href="info.html#hours") Hours
                        li
                            a(href="info.html#tranportation") Transportation
                li
                    a(href="explore.html") Explore
                    ul
                        li
                            a(href="explore.html#cafe") Cafe
                        li
                            a(href="explore.html#bazaar") Bazaar
                        li
                            a(href="explore.html#performances") Performances
                        li
                            a(href="explore.html#demos") Demonstrations
                        li
                            a(href="explore.html#special") Special Events
                li
                    a(href="participate.html") Participate
                    ul
                        li
                            a(href="participate.html#volunteer") Volunteer

                li
                    a.last(href="groups.html") Groups