extends layout
block content
    .main.cushycms
        .section1
            h1 Get Involved
        #volunteer.section3
            h2 Volunteer
            p The Festival of Nations depends on volunteers for its success! By volunteering, not only are you playing an active role in one of Minnesota’s best events, you’re allowing us to spend our funding on cultural attractions, performances and food rather than administrative costs. All volunteers receive free admittance to the Festival - thank you in advance! We couldn’t make the Festival of Nations great without you.
            h3 General Information
            ul
                li Volunteers help with the Festival in a variety of ways. Common assignments include assisting in a booth selling food, beverages or passports; greeting the public; answering questions; or helping with setup and tear-down.
                li Most shifts are three hours long. Shift times may vary depending on day and assignment.
                li It is not guaranteed that you will be placed at your desired assignment, but we will do our best. We reserve the right to change or alter assignments due to scheduling needs.
                li Volunteers receive free entrance into the Festival. You can enjoy the Festival either before or after your shifts, as long as the Festival is open to the public.
                li Those working during student hours (all day Thursday, and Friday until 3 p.m.) will receive an additional free ticket to come back another day.
                li All volunteers are encouraged to dress in ethnic attire. If you do not have an ethnic costume, you can rent one (free of charge) at the International Institute of Minnesota before the Festival or prior to the start of your shift at the Festival. Specific details will be in your informational packet.
                li To help in the Festival Office at the International Institute of Minnesota prior to the event with tasks such as mailing out tickets and preparing information packets or to help repair ethnic costumes (learn more here), please e-mail Faith at #[a(href="mailto:floggers-jamnik@iimn.org") floggers-jamnik@iimn.org].
                li Those who work in the Festival Office prior to the event, assist with costume repairs or work during setup and tear-down hours will receive a complimentary ticket for the Festival.
                li Your tickets(s) and information packet will be mailed to you by April 15th.

            p If you have any questions, please feel free to contact Faith Loggers-Jamnik during the days of Wednesday, Thursday, or Friday at #[a(href="mailto:floggers-jamnik@iimn.org") floggers-jamnik@iimn.org].
            p Thanks so much for your support of the Festival! This is an important event for the community and the International Institute of Minnesota, and would not be possible without your help.
            p #[a(href="http://www.signupgenius.com/go/10C0F4DAFAE2DA3FB6-20142") APPLY NOW] <br> Festival of Nations <br> Faith Loggers-Jamnik <br> International Institute of Minnesota <br> 651-647-0191 ext. 324 <br> Or FAX: 651-647-9268 <br> Or Email: #[a(href="mailto:floggers-jamnik@iimn.org") floggers-jamnik@iimn.org]
        #donate.section2
            h2 Donate
            p New Americans join our community with little more than the clothes on their backs. Thanks to the generosity of supporters, we can give New Americans strong support for the beginning of a new life in Minnesota. You can give online or by mail.
            p Online Giving - You can give a gift using your credit card (VISA, MasterCard, Discover) through the #[a(href="https://givemn.org/organization/International-Institute-Of-Minnesota") GiveMN] secure donation system.
            p Giving by Mail - Please make your check payable to the International Institute of Minnesota and mail to:
            p(style='white-space:pre;')
                | International Institute
                | 1694 Como Ave.
                | Saint Paul, MN 55108
            p
                i You may designate your giving for:
            ul
                li Where the need is greatest
                li Refugee resettlement
                li Medical Careers Program
                li Immigration & Citizenship
                li Festival of Nations
            p
                i Current highest funding needs: Refugee Resettlement.
            p The International Institute of Minnesota is a 501(c)3 organization, and all donations are tax-deductible to the extent allowed by law.


