extends layout
block content
    .main
        .section1
            h1 Get Involved
        .section2
            h2 Donate
            h2 Volunteer
            h2 Become a Sponsor
            h2 Media