.slideshow.bss-slides
    figure
        img(src="img/header_8.jpg")
    figure
        img(src="img/header_10.jpg")
    figure
        img(src="img/header_11.jpg")
    figure
        img(src="img/header_12.jpg")
    figure
        img(src="img/header_13.jpg")
    figure
        img(src="img/header_14.jpg")
    figure
        img(src="img/header_15.jpg")
    figure
        img(src="img/header_16.jpg")
    figure
        img(src="img/header_25.jpg")