extends layout
block content
    #container
        .main
            h2 Festival Sponsers
            p.legacy
               a(href="http://www.legacy.leg.mn/")
                img(src="./img/Legacy.jpg" width="171" height="80")
               | This activity is made possible by the voters of Minnesota through grants from the Minnesota State Arts Board, thanks to a legislative appropriation from the arts and cultural heritage fund and by a grant from the National Endowment for the Arts
            .logos
                a(href="#")
                    img(src="./img/IIMN.jpg")
                a(href="#")
                    img(src="./img/Byerlys.jpg")
                a(href="#")
                    img(src="./img/JobCorps.png")
                a(href="#")
                    img(src="./img/Logooven.jpg")
                a(href="#")
                    img(src="./img/MetroTransit.jpg")



