extends ../layout
block content
    .main.cushycms
        .section1
            h1 Atrium Stage Registration Form
            .section3
                div#wufoo-mcbiyi1ccd85y Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/mcbiyi1ccd85y") form]
                script(type="text/javascript").
                    var mcbiyi1ccd85y;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'festivalofnations',
                            'formHash':'mcbiyi1ccd85y',
                            'autoResize':true,
                            'height':'2453',
                            'async':true,
                            'host':'wufoo.com',
                            'header':'show',
                            'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { mcbiyi1ccd85y = new WufooForm();mcbiyi1ccd85y.initialize(options);mcbiyi1ccd85y.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');