extends ../layout
block content
    .main.cushycms
        .section1
            h1 Bazaar & Marketplace Registration Form
            .section3
                div#wufoo-r1hqan4b08lzvw8 Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/r1hqan4b08lzvw8") Bazaar & Marketplace Registration form]
                script(type="text/javascript").
                    var r1hqan4b08lzvw8;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'festivalofnations',
                            'formHash':'r1hqan4b08lzvw8',
                            'autoResize':true,
                            'height':'2453',
                            'async':true,
                            'host':'wufoo.com',
                            'header':'show',
                            'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { r1hqan4b08lzvw8 = new WufooForm();r1hqan4b08lzvw8.initialize(options);r1hqan4b08lzvw8.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');