extends ../layout
block content
    .main.cushycms
        .section1
            h1 Café Unloading & Loading Online Form
            .section3
                div#wufoo-z9t5np80yhf7kz Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/z9t5np80yhf7kz") Cafe Loading & Unloading form]
                script(type="text/javascript").
                    var z9t5np80yhf7kz;
                    (function (d, t) {
                        var s = d.createElement(t), options = {
                            'userName': 'festivalofnations',
                            'formHash': 'z9t5np80yhf7kz',
                            'autoResize': true,
                            'height': '2453',
                            'async': true,
                            'host': 'wufoo.com',
                            'header': 'show',
                            'ssl': true
                        };
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function () {
                            var rs = this.readyState;
                            if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try {
                                z9t5np80yhf7kz = new WufooForm();
                                z9t5np80yhf7kz.initialize(options);
                                z9t5np80yhf7kz.display();
                            } catch (e) {
                            }
                        };
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
                        par.insertBefore(s, scr);
                    })(document, 'script');

