extends ../layout
block content
    .main.cushycms
        .section1
            h1 Ethnic Group Registration Form
            .section3
                div#wufoo-z1l6l7cd145s033 Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/z1l6l7cd145s033") Ethnic Group registration form]
                script(type="text/javascript").
                    var z1l6l7cd145s033;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                                'userName':'festivalofnations',
                                'formHash':'z1l6l7cd145s033',
                                'autoResize':true,
                                'height':'3619',
                                'async':true,
                                'host':'wufoo.com',
                                'header':'show',
                                'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { z1l6l7cd145s033 = new WufooForm();z1l6l7cd145s033.initialize(options);z1l6l7cd145s033.display(); } catch (e) {}};
                                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');