extends ../layout
block content
    .main.cushycms
        .section1
            h1 Participation Forms
            .section3
                div(style='text-align:left; padding-left:25px;')
                    ul
                        li
                            a(href="./ethnic-participant.html") Ethnic Group Registration Form
                        li
                            a(href="./cultural-exhibit.html") Cultural Exhibit Registration Form
                        li
                            a(href="./bazaar-market.html") Bazaar & Market Place Registration Form
                        ul
                            li
                                a(href="./files/2016-BAZAAR-CHECK-LIST-SCHEDULE.pdf") Bazaar & Marketplace Checklist and Schedule
                            li
                                a(href="./files/st19.pdf") MN Dept. of Revenue - Operator Certificate of Compliance
                            li
                                a(href="./files/2016 BAZAAR CHECK-OFF LIST.pdf") Bazaar & Marketplace Registration Form (pdf) version
                        li
                            a(href="./international-cafe.html") International Cafe Registration Form
                        li
                            a(href="./cafe-load.html") International Cafe Loading & Unloading Form
                        li
                            a(href="./cafe-menu.html") International Cafe Menu Form


