extends ../layout
block content
    .main.cushycms
        .section1
            h1 Participation Forms
            .section3
                ul
                    li
                        a(href="./ethnic-participant.html") Ethnic Group Registration Form
                    li
                        a(href="./cultural-exhibit.html") Cultural Exhibit Registration Form
                    li
                        a(href="./bazaar-market.html") Bazaar & Market Place Registration Form
                    ul
                        li
                            a(href="./files/2016-BAZAAR-CHECK-LIST-SCHEDULE.pdf") Bazaar & Marketplace Checklist and Schedule
                        li
                            a(href="./files/") MN Dept. of Revenue - Operator Certificate of Compliance
                        li
                            a(href="./files") Bazaar & Marketplace Registration Form (pdf) version
                    li
                        a(href="./international-cafe.html") International Cafe Registration Forms

