extends ../layout
block content
    .main.cushycms
        .section1
            h1 International Café Registration Form Online Forms
            .section3
                div#wufoo-z1j6kja711jty66 Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/z1j6kja711jty66") International Café Registration form]
                script(type="text/javascript").
                    var z1j6kja711jty66;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'festivalofnations',
                            'formHash':'z1j6kja711jty66',
                            'autoResize':true,
                            'height':'2453',
                            'async':true,
                            'host':'wufoo.com',
                            'header':'show',
                            'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { z1j6kja711jty66 = new WufooForm();z1j6kja711jty66.initialize(options);z1j6kja711jty66.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');

                h3 Café Unloading & Loading Online Form
                div#wufoo-z9t5np80yhf7kz Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/z9t5np80yhf7kz") Cafe Loading & Unloading form]
                script(type="text/javascript").
                    var z9t5np80yhf7kz;
                    (function (d, t) {
                        var s = d.createElement(t), options = {
                            'userName': 'festivalofnations',
                            'formHash': 'z9t5np80yhf7kz',
                            'autoResize': true,
                            'height': '2453',
                            'async': true,
                            'host': 'wufoo.com',
                            'header': 'show',
                            'ssl': true
                        };
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function () {
                            var rs = this.readyState;
                            if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try {
                                z9t5np80yhf7kz = new WufooForm();
                                z9t5np80yhf7kz.initialize(options);
                                z9t5np80yhf7kz.display();
                            } catch (e) {
                            }
                        };
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
                        par.insertBefore(s, scr);
                    })(document, 'script');


                h3 International Café Additional Menu Items Form
                div#wufoo-maf7lsd0wdpqou Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/maf7lsd0wdpqou") online form]
                script(type="text/javascript").
                    var maf7lsd0wdpqou;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'festivalofnations',
                            'formHash':'maf7lsd0wdpqou',
                            'autoResize':true,
                            'height':'2453',
                            'async':true,
                            'host':'wufoo.com',
                            'header':'show',
                            'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { maf7lsd0wdpqou = new WufooForm();maf7lsd0wdpqou.initialize(options);maf7lsd0wdpqou.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');