extends ../layout
block content
    .main.cushycms
        .section1
            h1 World Stage Performance & Introduction Scripts
            .section3
                div#wufoo-m38i3h71sn35tn Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/m38i3h71sn35tn") form]
                script(type="text/javascript").
                    var m38i3h71sn35tn;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'festivalofnations',
                            'formHash':'m38i3h71sn35tn',
                            'autoResize':true,
                            'height':'2453',
                            'async':true,
                            'host':'wufoo.com',
                            'header':'show',
                            'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { m38i3h71sn35tn = new WufooForm();m38i3h71sn35tn.initialize(options);m38i3h71sn35tn.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');