extends ../layout
block content
    .main.cushycms
        .section1
            h1 World Stage Registration Form
            .section3
                div#wufoo-m16x2sm902om9t3 Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/m16x2sm902om9t3") form]
                script(type="text/javascript").
                    var m16x2sm902om9t3;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'festivalofnations',
                            'formHash':'m16x2sm902om9t3',
                            'autoResize':true,
                            'height':'2453',
                            'async':true,
                            'host':'wufoo.com',
                            'header':'show',
                            'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { m16x2sm902om9t3 = new WufooForm();m16x2sm902om9t3.initialize(options);m16x2sm902om9t3.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');