extends ../layout
block content
    .main.cushycms
        .section1
            h1 World Stage Participant Ticket Pick-up Form
            .section3
                div#wufoo-mdcfli00v79qoq Fill out my Festival of Nations #[a(href="https://festivalofnations.wufoo.com/forms/mdcfli00v79qoq")  form]
                script(type="text/javascript").
                    var mdcfli00v79qoq;
                    (function(d, t) {
                        var s = d.createElement(t), options = {
                            'userName':'festivalofnations',
                            'formHash':'mdcfli00v79qoq',
                            'autoResize':true,
                            'height':'2453',
                            'async':true,
                            'host':'wufoo.com',
                            'header':'show',
                            'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                            try { mdcfli00v79qoq = new WufooForm();mdcfli00v79qoq.initialize(options);mdcfli00v79qoq.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');