@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
margin-left: 20px;
margin-right: 20px;

}.flaticon-bird9:before {
	content: "\e000";
}
.flaticon-cooking15:before {
	content: "\e001";
}
.flaticon-dancer3:before {
	content: "\e002";
}
.flaticon-passport:before {
	content: "\e003";
}
.flaticon-shop1:before {
	content: "\e004";
}
