
.icon-fon15_rooster:before { content: '\e800'; } /* '' */
.icon-fon15_sun:before { content: '\e801'; } /* '' */
.icon-fon15_cat:before { content: '\e802'; } /* '' */
.icon-fon15_shoes:before { content: '\e803'; } /* '' */
.icon-fon15_horse:before { content: '\e804'; } /* '' */
.icon-fon15_mask:before { content: '\e805'; } /* '' */
.icon-fon15_doll:before { content: '\e806'; } /* '' */
.icon-fon15_clock:before { content: '\e807'; } /* '' */
.icon-fon15_flower:before { content: '\e808'; } /* '' */