@font-face {
  font-family: 'fon15';
  src: url('../font/fon15.eot?10261023');
  src: url('../font/fon15.eot?10261023#iefix') format('embedded-opentype'),
       url('../font/fon15.woff?10261023') format('woff'),
       url('../font/fon15.ttf?10261023') format('truetype'),
       url('../font/fon15.svg?10261023#fon15') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fon15';
    src: url('../font/fon15.svg?10261023#fon15') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fon15";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-fon15_rooster:before { content: '\e800'; } /* '' */
.icon-fon15_sun:before { content: '\e801'; } /* '' */
.icon-fon15_cat:before { content: '\e802'; } /* '' */
.icon-fon15_shoes:before { content: '\e803'; } /* '' */
.icon-fon15_horse:before { content: '\e804'; } /* '' */
.icon-fon15_mask:before { content: '\e805'; } /* '' */
.icon-fon15_doll:before { content: '\e806'; } /* '' */
.icon-fon15_clock:before { content: '\e807'; } /* '' */
.icon-fon15_flower:before { content: '\e808'; } /* '' */