@import '_settings'
@import 'jeet'

normalize-css()
base()
//edit()

containerWidth = 850px
headerHeight = 68px
niceFontFamily='Playfair Display'
defaultFontFamily = Helvetica
showMobileNavWidth = 846px
slideshowBaseHeight = 200px
rupture.scale = 0 700px 850px 1000px 1200px 1400px
dirtyYellow = #ddb168

h1
  font-family niceFontFamily, defaultFontFamily
  font-size 48px
h2
  font-family niceFontFamily, defaultFontFamily
  font-size 42px

h3
  font-family niceFontFamily, defaultFontFamily



ul
  list-style none

a, a:active
  outline none
  text-decoration none
  cursor pointer
  transition all .25s ease-in-out
  -moz-transition all .25s ease-in-out
  -webkit-transition: all .25s ease-in-out
  outline: 0


.wrapper
  margin-top headerHeight

.content
  width 90%
  margin 0 auto
  overflow hidden


.slideshow
  height 1000px
  width 100%
  overflow hidden
  position relative
  background #595959
  +at(1)
    height slideshowBaseHeight + 100px
  +at(2)
    height slideshowBaseHeight + 200px
  +at(3)
    height slideshowBaseHeight + 300px
  +at(4)
    height slideshowBaseHeight + 400px
  +at(5)
    height slideshowBaseHeight + 500px


#header-wrapper
  height headerHeight
  width 100%
  z-index 15
  background: black
  position fixed
  text-transform uppercase
  background rgba(26, 26, 26, 0.9)
  transition background 0.5s ease
  -webkit-transition:background 0.5s ease
  top 0
  left 0
  .logo
    float left
    margin 10px 0 0 5px
    width 235px

.header
  margin 0 auto
  height headerHeight


#main-logo
  +below(showMobileNavWidth)
    display none

#nav
  +below(showMobileNavWidth)
    display none
  ul
    float right
    margin 0
    li
      font-family niceFontFamily, defaultFontFamily
      font-size 21px
      float left
      display block
      &:hover
        ul
          left auto
          padding-top 50x
          min-width 100%
          li
            float none
            background rgba(26, 26, 26, 0.9)
      a
        color white
        display block
        padding 20px 5px 20px 6px
        &:hover
          color white
          background-color lightskyblue

      .last
        padding-right 13px

      /* submenu positioning*/
      ul
        position absolute
        white-space nowrap
        z-index 1
        left -99999em


.slicknav_menu
   +above(showMobileNavWidth)
      display none
   +below(showMobileNavWidth)
      display block


.main
  .section1
    background #e5edf5
    padding 30px 0 40px
    text-align center
  .decorative-plate
    background #e5edf5 url('/img/plateBG_ddb168.png') no-repeat center center
    -webkit-background-size contain
    -moz-background-size contain
    -o-background-size contain
    background-size contain
  .section2
    background url("/img/grey.png")
    padding 110px 0 50px
    .colLeft
      float left
      //margin 150px 0 0 0
      width 45%
    .colRight
      float right
      width 600px
    cf()
    li
      float left
      width 20%
      text-align center
      height 250px
      margin 0 2.4%
      font-size 15px
      +at(4)
        width 28.2%
        height 275px
      +at(2)
        width 44%
      +at(1)
        width 100%
        height auto
        margin 0 0 60px 0
    .icon
      background #E5EDF5
      height 100px
      width 100px
      margin 0 auto 30px
      border-radius 50%
    a
      color #555
      font-size 4em
      &:hover
        background dirtyYellow
    h3
      margin 10px
  .section3
    padding 40px 20px 50px
    h2
      text-align center

  p
    margin-top 10px
    padding 10px
  transition: all .5s ease
  +below(600px)
    stack()


.legacy
  padding: 7px
  a
    float left
    margin-right 10px
  cf()

.logos
   a
    col(1/3, cycle: 3)
    margin-bottom 6px
   img
     center()
   cf()

#footer
  padding 20px 5px 10px 5px
  background-color #31343c
  color #ffffff
  .col
    col(1/3)
    a
      text-align center
      color #31343c
      letter-spacing 1px
      border-radius 25px
      width 170px
      background #E5EDF5
      display block
      font-size 13px
      height 30px
      padding 7px 0 0 0
      &:hover
        background dirtyYellow
  cf()

