@import '_settings'
@import 'jeet'

normalize-css()
base()
//edit()

a, a:active
  outline none
  text-decoration none
  cursor pointer
  transition all .25s ease-in-out
  -moz-transition all .25s ease-in-out
  -webkit-transition: all .25s ease-in-out
  outline: 0

containerWidth = 850px
headerHeight = 66px
niceFontFamily='Righteous'
defaultFontFamily = Helvetica

.wrapper
  margin-top headerHeight

.slideshow
  //height 1000px
  width 100%
  overflow hidden
  position relative
  background #595959
  figure
    margin 0

#header-wrapper
  height headerHeight
  width 100%
  z-index 15
  background: black
  position fixed
  background rgba(26, 26, 26, 0.9)
  transition background 0.5s ease
  -webkit-transition:background 0.5s ease
  top 0
  left 0
  .logo
    float left
    margin 10px 0 0 5px
    width 235px

.header
  margin 0 auto
  height headerHeight


#main-logo
  +below(800px)
    display none

#nav
  +below(800px)
    display none
  ul
    float right
    margin 0
    li
      font-family niceFontFamily, defaultFontFamily
      font-size 21px
      float left
      display block
      a
        color white
        display block
        padding 20px 5px 20px 6px
        &:hover
          color white
          background-color lightskyblue

.slicknav_menu
   +above(800px)
      display none
   +below(800px)
      display block


.main
  h1
    padding 10px
    font-family : niceFontFamily, defaultFontFamily
    font-size 48px
  p
    margin-top 10px
    padding 10px
  transition: all .5s ease
  +below(600px)
    stack()


.legacy
  padding: 5px
  a
    float left
    margin-right 8px
  cf()

.logos
   a
    col(1/3, cycle: 3)
    margin-bottom 6px
   img
     center()

#footer
  padding 20px 5px 10px 5px
  background-color #000000
  color #ffffff
  .col
    col(1/3)
  cf()

